.schema_table {
  border: 1px solid black;
  display: inline-block;
  .table_name {
    background-color: #DDDDFF;
    padding: 5px;
    text-align: center;
    font-weight: bold;
  }
  .table_column {

  }
}